# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.appobj

# Custom
.ttf
doc/doxygen
src/4dtris
4dtris
.cproject
.project
Debug
doc/gen/4dtris-sw-struct.dot
doc/gen/4dtris-sw-struct.png
.deps
ABOUT-NLS
AUTHORS
ChangeLog
COPYING
INSTALL
Makefile
Makefile.in
NEWS
aclocal.m4
autom4te.cache/
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
missing
