[Desktop Entry]
Name=4dtris
Comment=Tetris in four dimensions
Exec=4dtris
Icon=/usr/share/games/4dtris/4dtris.png
Terminal=0
Type=Application
Categories=Game;LogicGame