[Desktop Entry]
Name=ntris
Comment=Tetris in four dimensions
Exec=ntris
Icon=/usr/share/ntris/ntris.png
Terminal=0
Type=Application
Categories=Game;LogicGame
StartupWMClass=ntris
